@media (max-width:1024px) {
	.wrapper {
		-moz-box-sizing: border-box;
		margin: 0 auto;
		padding: 0 10px;
		min-width: 300px;
		max-width: auto;
	}
}

/* header */
@media (max-width: 890px) {
}
/* header */