.archive {
	background-color: #ffffff;
	width: 100%; height: 100%;

	.archive_filter_form {

		.letters_block {
			width: 100%;
			border-bottom: 1px solid #fafafa;
			border-left: 1px solid #fafafa;
			@include box-sizing(border-box);

			a {
				width: 24px; height: 24px;
				@include inline-block;
				font: bold 14px/24px Arial;
				color: #7ba9c2;
				text-transform: uppercase;
				text-align: center;
				margin: 8px 0 8px 8px;

				&:hover, &.active {
					text-decoration: none;
					background: url('../media/images/bg/archive_letter_bg.png') center center no-repeat;
					color: #ffffff;
				}
			}
		}
		table {
			border: 1px solid #efefef;
			border-top: none;

			th {
				background: url('../media/images/ico/black_arrow_down.png') 95% 50% no-repeat;
				border: 1px solid #efefef;
				font: bold 12px/12px Arial;
				color: #51585e;
				text-align: left;
				padding: 8px 7px 6px 7px;

				&:nth-child(1) {
					background: none;
				}
				&:nth-child(6), &:nth-child(7) {
					background-position: 99% 50%;
				}
			}
			td {
				border: 1px solid #efefef;
				font: normal 12px/12px Arial;
				color: #999999;
				text-align: left;
				padding: 8px 7px 6px 7px;

				input {
					background-color: #feffee;
					border: 1px solid #efe9df;
					@include border-radius(2px);
					width: 100%; height: 22px;
				}

				&:nth-child(1) {
					width: 14px;
				}
				&:nth-child(2) {
					width: 111px;
				}
				&:nth-child(3) {
					width: 164px;
					input {
						max-width: 124px;
					}
				}
				&:nth-child(4) {
					width: 164px;
					input {
						background: #ffffff url('../media/images/ico/date_picker_ico.png') 98% 50% no-repeat;
					}
				}
				&:nth-child(5) {
					width: 190px;
				}
			}
		}
	}
}