#settings_nav {
	float: right;
	border-bottom: 1px solid #f8f8f8;
	height: 79px;
	line-height: 79px;

	div {
		color: #42adf1;
		font: normal 14px/30px 'Open Sans', sans-serif;
		padding: 0 20px 0 19px;
		@include inline-block;
		margin: 0 10px;
		border: 1px solid transparent;
		height: 30px;
		@include background-clip(padding-box);
		cursor: pointer;

		&:hover, &.active {
			color: #445767;
			@include opacity(0.4);
			border: 1px solid #435767;
			@include border-radius(16px);
		}
	}
}
#settings {
	width: 100%; height: 100%;
	background: #f6f6f6 url('../media/images/bg/settings_bg.png') center 0 no-repeat;
	-webkit-background-size: 100% 14%;
	-moz-background-size: 100% 14%;
	-o-background-size: 100% 14%;
	background-size: 100% 14%;

	.personal_account_info {
		height: 140px;
		font-size: 0;

		.block {
			@include inline-block;
			width: 400px;
			padding: 39px 23px 0 38px;

			.small_txt {
				font: normal 16px/20px 'Open Sans', sans-serif;
				color: #ffffff;
			}
			.txt {
				font: normal 44px/44px 'Open Sans', sans-serif;
				color: #ffffff;	
				font-weight: 300;
			}
		}
		.upgrade_btn {
			font: normal 16px/40px 'Open Sans', sans-serif;
			color: #ffffff;
			width: 260px;
			height: 40px;
			@include border-radius(2px);
			@include background-clip(padding-box);
			background-color: #ef6949;
			text-align: center;
			margin: 51px 34px 0 0;
		}
	}
	#profile_form {
		width: 98%;
		border: 1px solid rgba(76,79,82,.21);
		@include border-radius(3px);
		@include background-clip(padding-box);
		background-color: #fff;
		margin: 0 auto 15px;
		padding: 40px 0 30px 0;

		div.column {
			float: left;
			width: 50%;
			padding: 5px 50px 81px 50px;
			border-right: 1px solid #f3f4f5;
			@include box-sizing(border-box);

			&.second {
				border-right: none;
				border-left: 1px solid #f3f4f5;
				margin-left: -1px;
			}
			h2 {
				font: normal 24px/24px "Open Sans", sans-serif;
				color: #333333;
				font-weight: 300;
				padding-bottom: 34px;
				text-align: center;
			}
			h3 {
				font: normal 16px/16px "Open Sans", sans-serif;
				color: #445767;
				padding: 64px 0 0 0;
				text-align: center;
			}
			input[type="file"] {
				display: none;
			}
			label.input_file_label {
				display: block;
				width: 95px;
				margin: 0 auto 38px auto;
			}
			.input_block {
				margin: 18px 0 0 0;
				text-align: center;

				label {
					font: bold 9px/9px 'Open Sans', sans-serif;
					color: #a1aab2;
					text-transform: uppercase;
					padding-bottom: 5px;
				}
				input[type="text"] {
					@include box-shadow(none);
					width: 360px;
					height: 50px;
					border: 1px solid #d1d5d9;
					@include border-radius(3px);
					@include background-clip(padding-box);
					background-color: #fff;
					font: normal 16px/50px 'Open Sans', sans-serif;
					color: rgba(68,87,103,0.5);
					padding: 0 18px;
				}
			}
			.asistant_block,
			.administrator_block {
				max-width: 360px;
				margin: 0 auto;
				position: relative;
				padding-top: 37px;

				.title {
					font: normal 16px/16px 'Open Sans', sans-serif;
					color: #445767;
					padding-bottom: 6px;
				}
				.close_btn {
					background: url('../media/images/btn/dark_clear_btn.png') 0 0 no-repeat;
					width: 10px; height: 10px;
					position: absolute;
					top: 40px; right: 10px;
					cursor: pointer;
				}
			}
			.add_asistant,
			.add_administrator {
				width: 360px;
				margin: 0 auto;
				font: normal 16px/16px 'Open Sans', sans-serif;
				color: #42adf1;
				padding: 28px 0 0 28px;
				cursor: pointer;
			}
		}
		input[type="submit"] {
			background: url('../media/images/dec/save_settings_dec.png') 90% 50% no-repeat;
			width: 210px;
			height: 50px;
			border: none;
			@include border-radius(2px);
			@include background-clip(padding-box);
			background-color: #41adf1;
			font: bold 18px/50px 'Open Sans', sans-serif;
			color: #ffffff;
			text-align: center;
			margin: 0 31px 0 20px;
		}
		.reset_btn {
			width: 118px;
			height: 48px;
			border: 1px solid #d1d5d9;
			@include border-radius(2px);
			@include background-clip(padding-box);
			font: bold 18px/48px 'Open Sans', sans-serif;
			color: rgba(68,87,103,0.5);
			text-align: center;
			cursor: pointer;
		}
	}
	.jaw_conventions {
		padding: 51px 0 54px 16px;
		margin-bottom: 29px;
		font-size: 0;
		text-align: center;
		border-bottom: 1px solid #f0f1f2;

		h2 {
			font: normal 24px/24px "Open Sans", sans-serif;
			color: #333333;
			font-weight: 300;
			padding-bottom: 30px;
			text-align: center;
		}
		.model {
			width: 343px; height: 86px;
			border: 1px solid transparent;
			@include border-radius(3px);
			@include background-clip(padding-box);
			padding: 16px 0px 16px 21px;
			@include box-shadow(none);
			margin-right: 16px;
			@include inline-block;

			&.selected {
				border: 1px solid #d1d5d9;
				
				.model_name {
					color: #333333;
				}
				.numbers span {
					color: #333333;
				}
			}

			.model_name {
				font: normal 13px/13px 'Open Sans', sans-serif;
				color: rgba(51,51,51,0.5);
				text-transform: uppercase;
				padding-bottom: 27px;
				text-align: center;
			}
			.numbers {
				font-size: 0;
				@include inline-block;
				margin: 0 10px 19px -2px;

				span {
					display: block;
					float: left;
					font: normal 11px/11px 'Open Sans', sans-serif;
					color: #333333;
					text-align: center;
					width: 20px;
				}
			}
		}
	}
}