#header {
	background-color: #f6f6f6;
	border-bottom: 1px solid #dadde1;
	width: 100%;
	padding-left: 80px;
	@include box-sizing(border-box);

	.top_block {
		border-bottom: 1px solid #dadde1;
		background-color: #ffffff;
		height: 60px;
		position: relative;

		#home_search_form {
			@include inline-block;
			font-size: 0;
			border-right: 1px solid #dadde1;
			width: 380px; height: 60px;
			line-height: 60px;
			padding-left: 20px;

			input[type='text'] {
				width: 330px; height: 21px;
				background-color: #fff;
				border: none;
				@include inline-block;
				padding: 0 23px;
			}
			input[type='submit'] {
				background: url( '../media/images/btn/hdr_search_btn.png' ) 0 0 no-repeat;
				width: 18px; height: 18px;
				@include inline-block;
				border: none;
			}
			.clear_btn {
				background: url( '../media/images/btn/clear_btn.png' ) 0 0 no-repeat;
				width: 10px; height: 10px;
				@include inline-block;
			}
		}
		#add_new_order_btn {
			width: 130px;
			height: 39px;
			@include border-radius(2px);
			@include background-clip(padding-box);
			background-color: #41adf1;
			border-bottom: 1px solid #3584b6;
			float: right;
			margin: 9px 10px 0 0;
			cursor: pointer;
			color: #fff;
			text-align: center;
			font: normal 16px/40px 'Open Sans', sans-serif;
		}
	}
	h1 {
		font: normal 30px/79px 'Open Sans', sans-serif;
		font-weight: 300;
		color: #445767;
		padding-left: 37px;
		float: left;
	}
	#overdue_jobs {
		float: right;
		font-size: 0;
		margin: 0 15px 0 0;
		height: 79px;
		line-height: 79px;

		.overdue_job_label {
			@include inline-block;
			width: 160px; height: 50px;
			background-color: #f99a84;
			@include border-radius(3px);
			padding: 11px 9px;
			@include box-sizing(border-box);
			margin-left: 10px;
			position: relative;
			cursor: pointer;

			.label_info {
				position: relative;

				* { color: #fff; }
				.number {
					font: bold 12px/12px 'Open Sans', sans-serif;
					text-transform: uppercase;
				}
				.date {
					font: bold 12px/12px 'Open Sans', sans-serif;
					position: absolute;
					top: 0px; right: 3px;
				}
				.person_name {
					font: bold 14px/20px 'Open Sans', sans-serif;
					width: 142px; height: 20px;
					overflow: hidden;
					white-space: nowrap;
				}
			}

			.card {
				display: none;
			}
			&.active .card {
				display: block;
				position: absolute;
				top: -31px;
				left: -161px;
				z-index: 2;
			}
		}
	}
}